.green,
.white,
.red {
    text-align: left;
    font-size: 30px;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace
    
}

.green {
    background-color: #146e0e
}

.white {
    background-color: #FFFFFF
}

.red {
    background-color: #FF0000
}

ul {
    list-style-type: none;
}

img {
    height: 175px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.recipe {
    color: red;
}

div {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;  
}