.green,
.white,
.red {
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace;
    padding: 8px;
    border: 2px solid black;
    margin: 8px;
    width: 200px;
    
}

.green {
    background-color: #146e0e

}

.white {
    background-color: #FFFFFF
}

.red {
    background-color: #FF0000
}

ul {
    list-style-type: none;
}

img {
    height: 100px;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
 }

.recipe {
    color: red;
}

div {
    font-weight: 800;
    font-size: 20px;
    text-align: center;  
}

button {
    display: block;
    margin: auto;
    padding: 8px;
    background-color: black;
    color: white;
}